.pageContainer {
  width: 100%;
  background-color: #fff;
}
.picsContainer {
  width: 40%;
  display: flex;
  flex-direction: row;
  height: 446px;
}
.prodDetailsContainer {
  width: 60%;
}
.allPicsLayout {
  background-color: #fff;
}
.allImagesContainer {
  width: 64px;
  height: 64px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-right: 0;
  border-bottom: none;
  cursor: pointer;
}
.allImagesContainer:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.allImagesContainer:hover {
  border: 1px solid #2874f0;
}
.allImagesContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.singleImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .singleImageContainer img {
    max-height: 352px;
    max-width: 352px;
  }
}
@media (max-width: 800px) {
    .singleImageContainer img {
      max-height: 252px;
      max-width: 252px;
    }
  }
  @media (max-width: 500px) {
    .singleImageContainer img {
      max-height: 152px;
      max-width: 152px;
    }
  }
.singleImageContainer img {
  max-height: 416px;
  max-width: 416px;
  object-fit: contain;
  aspect-ratio: 1/1;
  
}
